<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider), class: "btn grey" %> |
<%= link_to 'Back', providers_path, class: "btn grey" %>
