<nav class="topmenu">
  <% if current_user.present? %>
      <%= link_to "Providers", providers_path, class: "menu-link btn white" %>
      <%= link_to t("default.logout"), destroy_user_session_url, method: :delete, class: "btn white" %>
  <% else %>
    <%= link_to t("default.login"), new_user_session_path, class: "btn white" %>
  <% end %>
</nav>