/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table{
  width: 100%;
}

 thead{
  text-align: left;
 }

nav{
  text-align: right;

  &.topmenu{
    width: 100%;
    background-color: #cacad0;

    a{
      display: inline-block;
      margin: 10px 10px 10px 0;
    }

    .menu-link{
      float: left !important;
      margin-left: 5px;
    }
  }
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a, a:visited, a:hover{
  color: black;
  background-color: inherit;
}

.btn{
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;

  &.white{
    background-color: white;
    color: black;
  }

  &.grey{
    background-color: #cacad0;
  }
}

.form-center, .form-object{
  margin: 0 auto;
  width: 500px;
}

form{
  input:not([type=checkbox]){
    width: 97%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .field{
    margin-bottom: 10px;
  }
  input[type=submit]{
    cursor: pointer;
  }
}

.flash-alert{
  border-radius: 5px;
  background-color: red;
  padding: 15px;
  color: white;
  font-weight: 700;
  margin-top: 5px;
}

.flash-notice{
  border-radius: 5px;
  background-color: blue;
  padding: 15px;
  color: white;
  font-weight: 700;
  margin-top: 5px;
}